.todoForm {
  margin-top: 20px;
}

.formContainer {
  display: flex;
  align-items: center;
}

.inputField,
.selectField {
  margin-right: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.submitButton {
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.submitButton:hover {
  background-color: #2980b9;
}
