button {
  margin-left: 20px;
  background-color: blueviolet;
}

#buttonTwo {
  margin-left: 20px;
  display: block;
  margin: 0 auto;
}

form {
  border-style: solid;
  border-width: 2px;
  padding: 10px;
}
