.landingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  text-align: center;
}

.button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

.button:focus {
  outline: none;
}

.button:active {
  background-color: #004080;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #28172d;
  text-align: center;
  padding: 10px;
}
