.App {
  display: none;
  background: #3a445d;
  padding: 5px;
  padding-bottom: 40px;
  height: 100vw;
  color: #e9b872;
  font-family: verdana;
  justify-content: center;
  display: flex;
  height: 100vh;
  overflow: hidden;
}
